@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #ef5f4c;
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: rgba(255, 255, 255, 0.56);

  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;
}

body {
  color: var(--text-color-secondary);
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
}