@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #ef5f4c;
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: rgba(255, 255, 255, 0.56);

  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  --font-family: "Poppins", sans-serif;
  --text-sm: 12px/170% var(--font-family);
  --text-md: 14px/170% var(--font-family);
  --text: 16px/150% var(--font-family);
  --text-lg: bold 32px/125% var(--font-family);
}

body {
  color: var(--text-color-secondary);
  background-color: var(--background-color);
  font: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

.container {
  padding-inline: 32px;
  max-width: 1280px;
  margin-inline: auto; /* centers the container */
}

.bg-surface-color {
  background-color: var(--surface-color);
}