header {
  font: var(--text-md);
  padding-block: 2rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#profile {
  display: flex;
  gap: 2rem;
  align-items: center;

  img {
    max-width: 384px;
    max-height: 384px;
    object-fit: cover;
    border-radius: 50%;
  }

  // first child div inside #profile
  > div {
    max-width: 24rem;
  }

  h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: .5rem;
  }
}

#info {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 17.5rem;

  li {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
}

@media (width < 48em) {
  header {
    .container {
      flex-direction: column;
      gap: 2rem;

      #profile {
        gap: 1rem;
        flex-direction: column;
        align-items: start;

        img {
          width: 120px;
          height: 120px;
        }

        .bio {
          max-width: none;
        }
      }

      #info {
        width: 100%;
      }
    }
  }
}
